[submodule "pygments-style-algforopt"]
	path = style
	url = https://github.com/sisl/pygments-style-algforopt.git
	branch = master
[submodule "pygments-julia"]
	path = lexer
	url = https://github.com/sisl/pygments-julia.git
	branch = master
[submodule "juliaplots.sty"]
	path = juliaplots.sty
	url = https://github.com/sisl/juliaplots.sty.git
	branch = master
