*-blx.bib
*.blg
*.bcf
*.pytxcode
*.gz
*.pdf
*.fls
*.fdb_latexmk
*.log
*.out
*.xml
*.toc
*.aux
*.bbl
*.xwm
*.dvi
*.idx
*.ilg
*.ind
tmp*
fig/*
all_algorithm_blocks.jl
all_juliaconsole_blocks.jl
all_test_blocks.jl
pythontex-files*
pythontex-files-book