*-blx.bib
*.blg
*.bcf
*.pytxcode
*.gz
*.pdf
*.fls
*.fdb_latexmk
pythontex-files-optimization
pythontex-files-optimization-chapter
*.log
*.out
optimization.pdf
*.xml
*.toc
*.aux
*.bbl
*.xwm
*.dvi
tmp*
fig/*
fig_*.tex
notation.pdf
Lectures
materials
.ipynb_checkpoints
all_algorithm_blocks.jl
all_juliaconsole_blocks.jl
all_test_blocks.jl
pythontex-files*
chapter_[0-9].tex
chapter_1[0-9].tex
*.ipynb
vc.tex
*.idx
*.ilg
*.ind
